<div id="userinfo">
    Logged in as {{user.get("name")}}. <a class="button" ng-click="logout()">Logout</a>
</div>

<div ng-show="relations && relations.length == 0">
    Loading data. It takes 10-15 minutes. Be patient. Comment and Like data will arrive after photo data.
</div>

<table ng-show="relations && relations.length != 0">
    <thead>
        <tr>
            <th ng-repeat="column in columns" ng-class="selectedCls($index)" ng-click="changeSorting($index)">{{column}}</th>
        </tr>
    </thead>
    <tbody>
          <tr ng-repeat="relation in relations | orderBy:orderByFunc:sort.descending">
              <td ng-repeat="column in columns">{{relation.get(column)}}</td>
          </tr>
    </tbody>
</table>
