<table>
    <thead>
        <tr>
            <th ng-repeat="column in columns" ng:class="selectedCls($index)" ng:click="changeSorting($index)">{{column}}</th>
        </tr>
    </thead>
    <tbody>
          <tr ng-repeat="relation in relations | orderBy:orderByFunc:sort.descending">
              <td>{{relation.getFriendName()}}</td>
              <td>{{relation.getInPhoto()}}</td>
              <td>{{relation.getPhotoTaken()}}</td>
              <td>{{relation.getTookPhoto()}}</td>
          </tr>
    </tbody>
</table>
